@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800&family=Victor+Mono:wght@200;300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: 'Bodoni Moda', serif;
  font-family: 'Victor Mono', monospace;
  background-color: #aad0f7;
}

* {
  box-sizing: border-box;
}

.App {
  padding: 50px;
  width: 100%;
  // max-width: 1200px;
}

h1 {
  color: #297acc;
  font-size: 60px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.tags {
  list-style: none;
  padding: 10px;

  li {
    margin-top: 10px;
    display: inline-block;
    padding: 15px 22px;
    background-color: rgb(128, 196, 252);
    border-radius: 10px;
    margin-right: 18.5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid transparent;
    transition: all 0.15s ease-in-out;

    &:hover {
      border-color: rgb(128, 196, 252);
    }

    &.active {
      background-color: rgb(75, 156, 221);
      color: rgb(255, 255, 255);
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 40px;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.collection {
  max-width: 470px;
  background-color: rgb(122, 188, 241);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  h4 {
    text-align: center;
    margin: 0;
    margin-top: 25px;
    font-size: 25.5px;
    font-family: 'Merriweather', serif;
  }

  &:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }

  @media (max-width: 1000px) {
    width: 100%;
  }

  img {
    object-fit: cover;
  }

  &__big {
    height: 250px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__mini {
    width: 31%;
    height: 80px;
    border-radius: 20px;
  }
}

.top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-input {
  font-size: 15px;
  width: 230px;
  height: 60px;
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid rgba(253, 251, 251, 0.301);
  outline: none;
  transition: all 0.15s ease-in-out;
  background-color: rgb(128, 196, 252);

  &:focus {
    background-color: rgb(84, 173, 247);
    border: 1px solid rgb(255, 255, 255);
  }
}

input::placeholder {
  color: #fff;
  font-size: 20px;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;

  li {
    display: inline-block;
    padding: 10px 17px;
    background-color: rgb(122, 188, 241);
    font-size: 18px;
    border-radius: 10px;
    margin-right: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &.active {
      font-weight: 500;
      background-color: rgb(75, 156, 221);
      color: #fff;
    }
  }
}

.par {
  margin: 30px;
  text-align: center;
}
